<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
  <script type="text/javascript" src="bower_components/crypto-js/crypto-js.js"></script>
  <script src="js/staff.js"></script>
  <script src="js/createStaff.js"></script>
  <script src="js/test.js"></script>
  <!-- <script src="app.js"></script> -->

  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link href="bower_components/angular-growl-v2/build/angular-growl.min.css" rel="stylesheet" media="screen" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/ionicons.min.css">
  <link href="assets/dashboard.css" rel="stylesheet">
  <title>PMOSubsystem</title>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="reportPage.html"><b>PMO</b>Subsystem</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#"><i class="fa fa-users"></i> Users</a></li>
          <li><a href="reportPage.html"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="loginpage.html"><i class="fa fa-key"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="reportPage.html">Reports</a></li>
          <li><a href="strategyPage.html">Strategy</a></li>
          <li><a href="pastReport.html">Past Reports</a></li>
        </ul>

      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Leaders</h1>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="assets/img/lhl.jpg" width="200" height="200" alt="Generic placeholder thumbnail">
            <h4>Prime Minister</h4>
            <span class="text-muted">Lee Hsien Loong</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="assets/img/20170911_halimah01.jpg" width="200" height="200" alt="Generic placeholder thumbnail">
            <h4>President</h4>
            <span class="text-muted">Halimah Yacob</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <!--use class="img-responsive" to make it look nice-->
            <img src="assets/img/perry.jpg" width="200" height="200" alt="Generic placeholder thumbnail">
            <h4>Army Colonel</h4>
            <span class="text-muted">Perry Lim</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="assets/img/cabinet.jpg" width="200" height="200" alt="Generic placeholder thumbnail">
            <h4>Cabinet of Ministers</h4>
            <span class="text-muted">All the ministers</span>
          </div>
        </div>

        <h2 class="sub-header">Staff Data</h2>
        <div class="table-responsive">
          <!-- <table id="staff_table"class="table table-striped" > -->
          <table id="App1" ng-app="staffTable" ng-controller="staffCtrl" ng-init="simulateServerMessages()" class="table table-striped">
            <div growl>
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Password</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in data">
                  <td>{{x.staffID}}</td>
                  <td>{{x.firstName}}</td>
                  <td>{{x.lastName}}</td>
                  <td>{{x.username}}</td>
                  <td id="demo">{{x.password}}</td>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
        <!-- <div id="App2" ng-app="postStaff" ng-controller="postCtrl">
            <h2 class="sub-header">Register Staff</h2>
            <form name="staff-form">
              <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control" ng-model="firstName">
              </div>
              <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control" ng-model="lastName">
              </div>
              <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" ng-model="username">
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="password">
              </div>
              <button type="submit" class="btn btn-default" ng-click="postStaffData(firstName, lastName, username, password)" onclick="clearForm()">Submit</button>
            </form>
          </div> -->
      </div>
    </div>
  </div>
  <script>
    function passHashing(password) {
      return CryptoJS.SHA256(password);
    }
    document.getElementById("demo").innerHTML = passHashing('password');
  </script>
</body>

</html>
