<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/map.js"></script>
  <script src="js/report.js"></script>
  <script src="js/update.js"></script>
  <script src="js/strategy.js"></script>

  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
  <link href="bower_components/angular-growl-v2/build/angular-growl.min.css" rel="stylesheet" media="screen"/>
  <link rel="stylesheet" href="assets/ionicons.min.css">
  <link href="assets/dashboard.css" rel="stylesheet">

  <title>PMOSubsystem</title>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand"><b>PMO</b>Subsystem</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="userPage.html"><i class="fa fa-users"></i> Users</a></li>
          <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="loginpage.html"><i class="fa fa-key"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="index.html">Reports</a></li>
          <li><a href="strategyPage.html">Strategy</a></li>
          <li class="active"><a href="#">Past Reports <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Crisis Report</h2>
        <div class="table-responsive">
          <table id="App1" ng-app="reportTable" ng-controller="reportCtrl" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Report Handler</th>
                <th>Report Liaison</th>
                <th>Liaison Pass</th>
                <th>Crisis Type</th>
                <th>Report Status</th>
                <th>Location Latitude</th>
                <th>Location Longitude</th>
                <th>Description 1</th>
                <th>Description 2</th>
                <th>Description 3</th>
                <th>Team ID</th>
                <th>Timestamp</th>
                <th>Deleted</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in data">
                <td>{{x.reportID}}</td>
                <td>{{x.reportHandler}}</td>
                <td>{{x.reportLiaison}}</td>
                <td>{{x.liaisonPass}}</td>
                <td>{{x.crisisType}}</td>
                <td>{{x.reportStatus}}</td>
                <td>{{x.locationLat}}</td>
                <td>{{x.locationLong}}</td>
                <td>{{x.description1}}</td>
                <td>{{x.description2}}</td>
                <td>{{x.description3}}</td>
                <td>{{x.teamID}}</td>
                <td>{{x.timestamp}}</td>
                <td>{{x.deleted}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="sub-header">Crisis Updates</h2>
        <div class="table-responsive">
          <table id="App4" ng-app="updateTable" ng-controller="updateCtrl" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Report Handler</th>
                <th>Report Liaison</th>
                <th>Liaison Pass</th>
                <th>Location Latitude</th>
                <th>Location Longitude</th>
                <th>Description 1</th>
                <th>Description 2</th>
                <th>Description 3</th>
                <th>Timestamp</th>
                <th>Report ID</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in data">
                <td>{{x.updateID}}</td>
                <td>{{x.reportHandler}}</td>
                <td>{{x.reportLiaison}}</td>
                <td>{{x.liaisonPass}}</td>
                <td>{{x.locationLat}}</td>
                <td>{{x.locationLong}}</td>
                <td>{{x.description1}}</td>
                <td>{{x.description2}}</td>
                <td>{{x.description3}}</td>
                <td>{{x.timestamp}}</td>
                <td>{{x.reportID}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="sub-header">Strategy</h2>
        <div class="table-responsive">
          <table id="App2" ng-app="strategyTable" ng-controller="strategyCtrl" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Description 1</th>
                <th>Description 2</th>
                <th>Description 3</th>
                <th>Strategy Status</th>
                <th>Report ID</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in data" ng-class="{red: x.changeColor, white: !x.changeColor}">
                <td>{{x.strategyID}}</td>
                <td>{{x.description1}}</td>
                <td>{{x.description2}}</td>
                <td>{{x.description3}}</td>
                <td>{{x.strategyStatus}}</td>
                <td>{{x.reportID}}</td>
                <td>{{x.username}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
